<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dream Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="background container">
      <h1>Dream Journal</h1>
      <form method="post">
            <div class="form-group">
                <input name="username" type="text" class="form-control" id="name" placeholder="Enter your first name...">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3>{{error}}</h3>
  </div>
</body>

</html>
