<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User's Dream Journal</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>hi there {{name}}</h1>
    <h2>Title: {{title}}</h2>
    <h3>Dream: {{content}}</h3>
    <p>{{comment}}</p>
  </body>
</html>
